@model IEnumerable<NoteDto>;

@{
    ViewData["Title"] = "Note / Index";
}

<div class="kanbanwrapper">
    <div class="kanbantop">
        <aside class="leftbilgi">
            <h4 class="listelebaslik">Notes</h4>
        </aside>
        <aside class="rightolustur">
            <a asp-action="Add" asp-controller="Note" class="addbtn">
                New Note
            </a>
        </aside>
    </div>
    <div id="listeleBoard" class="kanbansecwrapper">

        @if (Model.Any())
        {
            @foreach (var note in Model)
            {
                <div class="yataylist">
                    <aside class="listitem">
                        <input  class="inpcheck" type="checkbox" />
                        <span class="checkmark"></span>
                    </aside>
                    <aside class="listitem uzunitem">
                        <p class="noticerikyazisi tarih">@note.Title</p>
                    </aside>
                    <aside class="listitem ortaitem">
                        <p class="noticerikyazisi tarih">@note.Content</p>
                    </aside>
                </div>
            }
        }
        else
        {
            <div class="yataylist">
                <aside class="listitem uzunitem">
                    <p class="noticerikyazisi tarih">There is no note yet..</p>
                </aside>
            </div>
        }


    </div>

</div>

