@model IEnumerable<ToDoDto>;

@{
    ViewData["Title"] = "ToDo / Index";
}

<div class="kanbanwrapper">
    <div class="kanbantop">
        <aside>
            <h4 class="titlelist">ToDo List</h4>
        </aside>
        <aside>
            <a asp-action="Add" asp-controller="ToDo" class="addbtn">
                New ToDo
            </a>
        </aside>
    </div>
    <div class="kanbansecwrapper">
        @if (Model.Any())
        {
            @foreach (var toDo in Model)
            {
                <div class="horizontallist">
                    <aside class="listitem">
                        <input asp-for="@toDo.IsCompleted" class="inpcheck" type="checkbox" />
                        <span class="checkmark"></span>
                    </aside>
                    <aside class="listitem longitem">
                        <p class="notecontenttext date">@toDo.Text</p>
                    </aside>
                    <aside class="listitem middleitem">
                        <p class="notecontenttext date">@toDo.AddedDate</p>
                    </aside>
                </div>
            }
        }
        else
        {
            <div class="horizontallist">
                <aside class="listitem longitem">
                    <p class="date notecontenttext ">There is no todo yet..</p>
                </aside>
            </div>
        }

    </div>

</div>

