@model KanbanBoardDto;

@{
    ViewData["Title"] = "Add New Kanban";
}



<div class="kanbansecwrapper">
    <form method="post">
        <div asp-validation-summary="All" />
        <aside>
            <input asp-for="Name" type="text" placeholder="Board Name" />
        </aside>
        <button asp-action="Add" asp-controller="KanbanBoard" class="addbtn" type="submit">Add</button>
    </form>
</div>