@model LoginRegisterViewModel;


@{
    ViewData["Title"] = "Login Or Register";
}

@*
    <h1>Login</h1>

    <form method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" />
            @Html.DisplayNameFor(m => m.RememberMe);
        </div>
        <button type="submit">Login</button>
    </form>
*@


<div class="kanbanwrapper loginsec">
    <div class="kanbantop logintopkanban">
        <aside class="leftbilgi">
            <h4 class="listelebaslik">
                To start, register in seconds..
            </h4>
        </aside>
    </div>
    <div id="listeleBoard" class="kanbansecwrapper loginpageback">
        <div class="loginpagewrapper">
            <aside class="loginUp">
                <h4>Log In Or Register</h4>
            </aside>
            <img class="loginLogo" src="~/images/exampleLogo.png">
            <form method="post" class="logincontent">
                <div asp-validation-summary="All"></div>
                <input asp-for="Email" type="text" placeholder="E-Mail" />
                <input asp-for="Password" type="password" placeholder="Password" />

                <button asp-action="Login" asp-controller="Account" type="submit">Sign In</button>
                <button asp-action="Register" asp-controller="Account" class="addBtn" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>

