
@if (ViewBag.ErrorTitle == null)
{

<h3>
    An unexpected error occured. It seems that we do something wrong and we are going to work on it. Bear with us..
</h3>

}
else
{
    <h1>@ViewBag.ErrorTitle</h1>
    <h2>@ViewBag.ErrorMessage</h2>
}